<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edycja uzytkownika</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div th:insert="fragments/navbar :: navbarLoop"></div>

<div class="container">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <form class="form-signin" th:action="@{/edituser}" th:object="${userToInsert1}" method="post" >
            <h2 class="form-signin-heading">Edytuj użytkownika</h2>
<!--            <select class="custom-select" th:field="*{role}">-->
<!--                <option th:each="role : ${T(com.example.demo.model.RoleTypes).values()}"-->
<!--                        th:value="${role}"-->
<!--                        th:text="${role}">-->
<!--                </option>-->
<!--            </select>-->
            <input  th:field="*{name}" type="text"  class="form-control" placeholder="Imię" required autofocus/>
            <input  th:field="*{surname}" type="text"  class="form-control" placeholder="Nazwisko" required autofocus/>
            <select class="custom-select" th:field = "*{gender}">
                <option th:each="gender : ${T(com.example.demo.model.GenderTypes).values()}"
                        th:value="${gender}"
                        th:text="${gender}">
                </option>
            </select>
            <input  th:field="*{age}" type="number"  class="form-control" placeholder="Wiek" required autofocus/>
            <input  th:field="*{login}" type="text"  class="form-control" placeholder="Login" required autofocus/>
            <input th:field="*{email}" type="email"  class="form-control"
                   placeholder="email" required autofocus/>
<!--            <input th:field="*{password}" type="password" class="form-control" placeholder="Hasło" required/>-->
<!--            <input th:field="*{password}" type="password" class="form-control" placeholder="Hasło" required/>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>

        </form>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>