<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uzytkownicy</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
</head>
<body>

<div th:insert="fragments/navbar :: navbarLoop"></div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Login</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Wiek</th>
        <th scope="col">Rola</th>
        <th scope="col">Opcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <form action="/deleteUser" method="post" th:object="${user}">
            <td type="number" th:text="${user.id}"></td>
            <td th:text="${user.getLogin()}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td type="number" th:text="${user.age}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <input type="hidden" name="id" th:value="${user.id}">
                <button class="btn btn-warning" value="remove">Usun</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>


<div th:insert="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>